
*.xml
*.xml
*.len
.idea/dataSources/3cc19749-7e7e-4768-96b3-12bae0b98377/_metadata_/metadata_i
.idea/dataSources/3cc19749-7e7e-4768-96b3-12bae0b98377/_metadata_/metadata.keystream
.idea/dataSources/3cc19749-7e7e-4768-96b3-12bae0b98377/_metadata_/metadata
.idea/dataSources.xml
.idea/dataSources.xml
*.keystream
*.xml
.idea/dataSources/f7afd3bf-1c48-49cd-b580-e3da5de66257/_metadata_/metadata
.idea/dataSources/f7afd3bf-1c48-49cd-b580-e3da5de66257/_metadata_/metadata_i
.idea/dataSources.xml
